{%extends 'base.html'%}
{%block heading%}
<header>
           <h1>Welcome to the System</h1>
        </header>

{%endblock%}   
{%block content%}
<section class="main-content">
    <h2>Welcome to the System!</h2>
    <div class="data-container">
        <div class="data-box">
            <h3>Total Students</h3>
            <p>{{total_students}}</p>
        </div>
        <div class="data-box">
            <h3>Total Courses</h3>
            <p>{{total_courses}}</p>
        </div>
    </div>
</section>
{%endblock%}